    </div><!-- /.container -->

    <br><br><br>

    <p class="text-center">&COPY; CMS Shopping Cart</p>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>